<html>
<head>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="http://10.27.0.88:8080/testdata">
<input type="file" name="testdata">
<input type="submit">
</form>
</body>
</html
